name: Build and Push UI

on:
  push:
    branches:
      - main
    paths:
      - "ui/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./ui
          push: true
          tags: kuzyoyaroslav/gitops-fullstack-app-ui:${{ github.sha }}

      - name: Update Kubernetes manifest
        run: |
          git clone https://${{ secrets.GH_TOKEN }}@github.com/kuzyo/gitops-k8-config.git
          cd gitops-k8-config
          sed -i "s|image: kuzyoyaroslav/gitops-fullstack-app-ui:.*|image: kuzyoyaroslav/gitops-fullstack-app-ui:${{ github.sha }}|" development/ui-deployment.yaml
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Update UI image to ${{ github.sha }}"
          git push
