name: Build and Push API

on:
  push:
    branches:
      - main
    paths:
      - "api/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./api
          push: true
          tags: kuzyoyaroslav/gitops-fullstack-app:${{ github.sha }}

      - name: Update Kubernetes manifest
        run: |
          git clone https://${{ secrets.GH_TOKEN }}@github.com/kuzyo/gitops-k8-config.git
          cd gitops-k8-config

          # Install yq
          sudo wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          sudo chmod +x /usr/local/bin/yq

          # Update image tag in development values
          yq -i '.image.tag = "${{ github.sha }}"' charts/api/environments/development/values.yaml

          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Update UI image to ${{ github.sha }} in development"
          git push
