name: Promote API to Environment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Target environment"
        required: true
        type: choice
        options:
          - staging
          - production
      image_tag:
        description: "Image tag to deploy"
        required: true

jobs:
  promote:
    runs-on: ubuntu-latest
    steps:
      - name: Update manifest
        run: |
          git clone https://${{ secrets.GH_TOKEN }}@github.com/kuzyo/gitops-k8-config.git
          cd gitops-k8-config

          # Install yq
          sudo wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          sudo chmod +x /usr/local/bin/yq

          # Update image tag in the target environment
          yq -i '.image.tag = "${{ inputs.image_tag }}"' charts/api/environments/${{ inputs.environment }}/values.yaml

          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Promote UI image ${{ inputs.image_tag }} to ${{ inputs.environment }}"
          git push
